.card {
  background: var(--card-background);
  width: var(--card-width);
  min-height: 100px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  word-wrap: break-word;
  cursor: pointer;
  transition: box-shadow var(--transition-duration),
    transform var(--transition-duration), opacity var(--transition-duration);
}

.card:hover {
  box-shadow: 0 0 0.5rem 0.25rem var(--card-hover-shadow);
}

.beingDragged {
  transform: scale(1.05);
  opacity: 0.5;
}

.dates {
  font-size: 0.85rem;
  color: var(--dates-color);
  border-radius: 0.25rem;
  padding-block: 0.25rem;
}

.dates.dueSoon {
  background: var(--dates-dueSoon-background);
}

.dates.overdue {
  background: var(--dates-overdue-background);
}

.dates.complete {
  background: var(--dates-complete-background);
}

.dates.dueSoon,
.dates.overdue,
.dates.complete {
  color: var(--font-dark);
  font-weight: 700;
  padding-inline: 0.25rem;
}
