.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--modal-overlay-background);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  pointer-events: auto;
  z-index: 1000;
  transition: opacity var(--transition-duration);
}

.modal {
  background: var(--modal-background);
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(0.8);
  position: relative;
  z-index: 1001;
}

.wide {
  max-width: 600px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--font-light);
}

.overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

.editableTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  width: 100%;
}

/* To be used by modal implementations for consistency */
.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.buttonContainer > button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
